body{
	margin: 0;
	padding: 0;
	background-image: url("bckgrnd.jpeg");
	background-size: 100%;
	background-position: center;
	background-attachment: fixed;
	font-family: 'Roboto', sans-serif;
}
header{
	margin: 30px auto 80px auto;
	width: 80%;
	text-align: center;
}
header ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
header li{
	padding: 0 20px;
	border-right: 1px solid grey;
}
span li{
	border-right: none;
}
header a, header a:hover, header a:visited{
	text-decoration: none;
	color: black;
}
section{
	height:300px;
	display: flex;
	flex-direction: row;
	padding: 20px;
	justify-content: center;
	align-content: baseline;
}
section img{
	border-radius: 50%;
	width: 220px;
	height: 220px;
}
div.img_wrapper{
	flex: 1;
	display: flex;
	justify-content: center;
}
div.text_wrapper{
	flex: 2;
}
div.icons_wrapper{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
}
section.gauche{
	background: linear-gradient(to right, #B29800, #0D79FF);
}
section.droite{
	background: linear-gradient(to left, #B29800, #0D79FF);
}
h1{
	font-family: 'Bitter', serif;
}
footer img{
	width: 100%;
	display: block;
}
footer{
	border: 5px solid black;
}